@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This website was deployed in both Local and Cloud</p>
<p>This website was deployed using CI-CD process in Azure DevOps</p>
